<div class="container mt-5">
    <div class="mb-4 text-center">
        <h1>Página de Admin</h1>
        <hr>
    </div>
    <div class="row text-center">
        <div class="col-md-4 mb-3">
            <a routerLink="./gestionar-detalles" class="text-decoration-none text-dark">
                <div class="card h-100 shadow-sm">
                    <div class="card-body d-flex align-items-center p-4">
                        <i class="bi bi-plus-circle fs-1 me-3" style="transform: rotate(90deg);"></i>
                        <div class="text-start ms-3">
                            <a class="text-dark text-decoration-none fw-semibold d-block mb-2"
                                style="font-size: 1.05rem;">
                                Gestionar Detalles de un pedido
                            </a>
                            <p class="text-dark mb-0">Gestiona toda la información de los detalles de un pedido en concreto.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a routerLink="./gestionar-mesas" class="text-decoration-none text-dark">
                <div class="card h-100 shadow-sm">
                    <div class="card-body d-flex align-items-center p-4">
                        <i class="bi bi-table fs-1 me-3"></i>
                        <div class="text-start ms-3">
                            <a class="text-dark text-decoration-none fw-semibold d-block mb-2" style="font-size: 1.05rem;" routerLink="./gestionar-mesas">
                                Gestionar Mesas
                            </a>
                            <p class="text-dark mb-0">Gestiona toda la información de las mesas del bar.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a routerLink="./gestionar-pagos" class="text-decoration-none text-dark">
                <div class="card h-100 shadow-sm">
                    <div class="card-body d-flex align-items-center p-4">
                        <i class="bi bi-cash-stack fs-1 me-3"></i>
                        <div class="text-start ms-3">
                            <a class="text-dark text-decoration-none fw-semibold d-block mb-2"
                                style="font-size: 1.05rem;" >
                                Gestionar Pagos
                            </a>
                            <p class="text-dark mb-0">Administra todos los pagos que han realizado los clientes.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>        
    </div>
    <div class="row text-center">
        <div class="col-md-4 mb-3">
            <a routerLink="./gestionar-pedidos" class="text-decoration-none text-dark">
                <div class="card h-100 shadow-sm">
                    <div class="card-body d-flex align-items-center p-4">
                        <i class="bi bi-bag-check-fill fs-1 me-3"></i>
                        <div class="text-start ms-3">
                            <a class="text-dark text-decoration-none fw-semibold d-block mb-2"
                                style="font-size: 1.05rem;" >
                                Gestionar Pedidos
                            </a>
                            <p class="text-dark mb-0">Gestiona todos los pedidos realizados.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a routerLink="./gestionar-productos" class="text-decoration-none text-dark">
                <div class="card h-100 shadow-sm">
                    <a class="text-decoration-none text-dark">
                        <div class="card-body d-flex align-items-center p-4">
                            <i class="bi bi-cup-straw fs-1 me-3"></i>
                            <div class="text-start ms-3">
                                <a class="text-dark text-decoration-none fw-semibold d-block mb-2"
                                    style="font-size: 1.05rem;" >
                                    Gestionar Productos
                                </a>
                                <p class="text-dark mb-0">Administra los productos.</p>
                            </div>
                        </div>
                    </a>
                </div>                
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card h-100 shadow-sm ">
                <a routerLink="./gestionar-sesiones" class="text-decoration-none text-dark">
                    <div class="card-body d-flex align-items-center p-4">
                        <i class="bi bi-qr-code fs-1 me-3"></i>
                        <div class="text-start ms-3">
                            <a class="text-dark text-decoration-none fw-semibold d-block mb-2"
                                style="font-size: 1.05rem;" >
                                Gestionar Sesiones QR
                            </a>
                            <p class="text-dark mb-0">Gestiona todas las sesiones qr de todas las mesas del bar.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card h-100 shadow-sm ">
                <a routerLink="./gestionar-usuarios" class="text-decoration-none text-dark">
                    <div class="card-body d-flex align-items-center p-4">
                        <i class="bi bi-person-vcard fs-1 me-3"></i>
                        <div class="text-start ms-3">
                            <a class="text-dark text-decoration-none fw-semibold d-block mb-2"
                                style="font-size: 1.05rem;" >
                                Gestionar Usuarios
                            </a>
                            <p class="text-dark mb-0">Gestiona los usuarios y sus permisos.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>        
    </div>
</div>    