<style>
    input {
        border: 1px solid #97b5c8;
        background-color: #eff2f9;
    }

    #guardar {
        background-color: #fab43d;
    }

    #volver {
        background-color: #97b5c8;
    }
</style>

<div class="row m-auto w-75 pt-5">

    <form (ngSubmit)="guardar()" [formGroup]="formulario" class="container" autocomplete="off">

        <div class="mx-auto">
            <input id="id" name="id" type="hidden" value="-1">
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input formControlName="nombre" type="text" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="descripcion" class="form-label">Descripción:</label>
                <input formControlName="descripcion" type="text" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="ubicacion" class="form-label">Ubicación:</label>
                <input formControlName="ubicacion" type="text" class="form-check-input">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="foto" class="form-label">Foto:</label>
                <input formControlName="foto" type="text" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="id_prevision" class="form-label">Id Prevision:</label>
                <input formControlName="id_prevision" type="number" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="id_estacion" class="form-label">Id Prevision:</label>
                <input formControlName="id_estacion" type="number" class="form-check-input">
            </div>
        </div>

    </form>

    <div class="d-flex justify-content-end">
        <button id="volver" class="btn me-1 mt-4" routerLink="/admin/gestionar-zonas">Volver</button>
        <button id="guardar" class="btn ms-1 mt-4" (click)="guardar()" [disabled]="formulario.pending">Guardar</button>
    </div>
</div>