html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .app-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .app-content {
    flex: 1 0 auto;
    /* Si quieres padding, ponlo aquí */
  }
  
  app-footer, .footer {
    flex-shrink: 0;
  }
  