<body *ngIf="zonas">
    <div class="ps-5 pe-5 pb-0 pt-3">
        <div class="d-flex justify-content-between align-items-center mt-3 mb-0 me-3 ms-3">
            <div>
                <h2 style="color: #176029;" class="mt-3">Zonas</h2>
            </div>
            <div>
                <button [routerLink]="['../crear-zona']" 
                    style="background-color: #176029; color: #f1f2f6; cursor: pointer;" class="btn ms-3">+</button>
                <button [routerLink]="['../']" 
                    style="background-color: #f1f2f6; color: #176029; border-color: #176029; border-width: 2px;" 
                    class="btn ms-3"><i class="bi bi-arrow-90deg-left"></i></button>
            </div>
        </div>
    </div>
    <hr style="margin-left: 30px; margin-top: 0%; margin-right: 30px;">
    <div class="table-container ps-5 pe-5">
        <table class="table table-striped shadow">
            <thead>
                <tr>
                    <th style="background-color: #bccdd9; color: #176029;" class="ps-4" scope="col">NOMBRE</th>
                    <th style="background-color: #bccdd9; color: #176029;" scope="col">DESCRIPCIÓN</th>
                    <th style="background-color: #bccdd9; color: #176029;" scope="col">UBICACIÓN GEOGRÁFICA</th>
                    <th style="background-color: #bccdd9; color: #176029;" scope="col">FOTO</th>
                    <th style="background-color: #bccdd9; color: #176029;" scope="col">ID PREVISIÓN</th>
                    <th style="background-color: #bccdd9; color: #176029;" scope="col">ID ESTACIÓN</th>
                    <th style="background-color: #bccdd9; color: #176029;" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let zona of zonas">
                    <td style="color: rgb(84, 84, 84);" class="ps-4" scope="row">{{zona.nombre}}</td>
                    <td style="color: rgb(84, 84, 84);">{{zona.descripcion}}</td>
                    <td style="color: rgb(84, 84, 84);">{{zona.ubicacion}}</td>
                    <td style="color: rgb(84, 84, 84);" class="ps-4" scope="row">{{zona.foto}}</td>
                    <td style="color: rgb(84, 84, 84);">{{zona.id_prevision}}</td>
                    <td style="color: rgb(84, 84, 84);">{{zona.id_estacion}}</td>
                    <td class="border-start text-center" id="acciones">
                        <i [routerLink]="['../editar-zona', zona.id]" class="bi bi-pencil-square me-2"
                            style="color: #176029; cursor: pointer;"></i>
                        <i (click)="borrarZona(zona)" class="bi bi-trash3-fill"
                            style="color: #176029; cursor: pointer;"></i>
                        <i [routerLink]="['../ver-zona', zona.id]" class="bi bi-arrow-right-circle-fill ms-2"
                            style="color: #176029; cursor: pointer;"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>